header{
    background-color: hover;

    
}
body{
    background-image: url(../Image/background\ barbie.png);
    background-size: 115%;
    background-repeat: no-repeat;

    overflow-x: hidden;
}
img.push{
    height: 180px;
    width: 180px;
    position:absolute;
    left: 76%;
    top: 500px;
}
footer{
    /* position: relative;
    bottom:0px;
    width: 100%; */
}
main{
    height: 100vh;
}
.entete{
    color:white;
}
/* curseur */

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; }

/* fin curseur css */


canvas#confetti {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
    pointer-events: none;
  }
