header{
    background-color: hover;

    
}
body{
    background-image: url(../Image/Acceuil.jpg);
    background-size:100%;
    overflow-x: hidden;
    background-position: 0% -180px;
}
img.push{
    height: 180px;
    width: 180px;
    position:absolute;
    left: 75%;
    top: 240px;
}
footer{
    /* position: relative;
    bottom:0px;
    width: 100%; */
}
main{
    height: 100vh;
}
.entete{
    color:white;
}
