header{
    background-color: hover;

    
}
body{
    background-image: url(../Image/background\ barbie.png);
    background-size: 115%;
    background-repeat: no-repeat;

    overflow-x: hidden;
}
img.push{
    height: 180px;
    width: 180px;
    position:absolute;
    left: 76%;
    top: 500px;
}
footer{
    /* position: relative;
    bottom:0px;
    width: 100%; */
}
main{
    height: 100vh;
}
.entete{
    color:white;
}
