

main {
color: antiquewhite;
border-radius: 10px;
display: flex;
flex-direction: row;
justify-content: space-evenly;

}

body {
background-image: url(../Image/rosefond.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}

a{
outline: none;
text-decoration: none;


}

a:link {
color: antiquewhite;

}

a:visited {
color: antiquewhite;

}

.div1 {
    background-color: rgba(87, 52, 68, 0.808);
    
    width: 40%;
    
}

.div2 {
    background-color: rgba(87, 52, 68, 0.808);
    
   width: 40%;
}



.chemin a{
    text-decoration: none;
    color: white;

}

.chemin {
    margin-left: 80px;
    margin-top: 5px;
    text-align: left;
    font-size: smaller;
}
/* curseur */

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; }

/* fin curseur css */

