body {
  background-color: black;
  min-height: 100vh;
}

.trierpar {
  display: flex;
}

.categories {
  display: flex;
}

.type {
  display: flex;
}

.container {
  display: flex;
  flex-direction: row;
  margin-left: 26px;
  justify-content: flex-start;
  justify-content: space-around;
  width: 35%;
}

select {
  background-color: black;
  color: white;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin: 40px;
  align-items: flex-end;
  margin-top: ;
}

.affiche img {
  margin: 20px;
  margin-top: 30px;
  max-height: 194px;
}

main {
  min-height: 100vh;
}
