body {
  background-color: black;
  min-height: 100vh;
}

.trierpar {
  display: flex;
  
}

.categories {
  display: flex;
  
}

.type {
  display: flex;
  
}


.container {
  display: flex;
  flex-direction: row;
  margin-left: 75px;
  margin-top: 10px;
  justify-content: flex-start;
  justify-content: space-around;
  width: 35%;

}

.rei{
  width: 200px;
}

select {
  background-color: black;
  color: white;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  align-items: flex-end;
  }

.affiche img {
  margin: 20px;
  margin-top: 30px;
  max-height: 200px;
  min-height: 200px;
  min-width: 146px
}

main {
  min-height: 100vh;
}


table {
    justify-items: center;
}

.liencatalogue a {
  text-align: left;
  color: white;
  font-size: smaller;
  text-decoration: none;
  
}
.liencatalogue {
  
  margin-left: 80px;
  margin-top: 5px;
  text-align: left;
}
