body {
  background-color: #F06DAC;
  min-height: 100vh;
  overflow-x: hidden;
}

.trierpar {
  display: flex;
}

.categories {
  display: flex;
}

.type {
  display: flex;
}


.container {
  display: flex;
  flex-direction: row;
  margin-left: 43px;
  margin-top: 10px;
  justify-content: flex-start;
  justify-content: space-around;
  width: 35%;
  
}

select {
  background-color: #F06DAC;
  color: white;
}

figure {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  align-items: flex-end;
  
  
}

.affiche img {
  margin: 20px;
  margin-top: 30px;
  max-height: 200px;
  min-height: 200px;
  min-width: 146px
 ;
  
}

main {
  min-height: 100vh;
}


table {
  
  justify-items: center;



}
.demon{

  transform: rotate(270deg);
  
  position :fixed;
  right: 0;
  /* bottom: -429px; */
  bottom: 99px;
  max-height: 380px;
  z-index: -1;
}

.liencatalogue a {
  text-align: left;
  color: white;
  font-size: smaller;
  text-decoration: none;
  
}
.liencatalogue {
  
  margin-left: 80px;
  margin-top: 5px;
  text-align: left;
}
