main {
display: flex;
flex-direction: row;
justify-content: space-evenly;
color: antiquewhite;

}

.connexion {
text-align: center;

}



body {
background-color: rgb(240, 109, 172);

}

.popcorn {
display: block;
align-self: flex-end;

}

