main {
display: flex;
flex-direction: row;
justify-content: space-evenly;
color: white;

}

.connexion {
text-align: center;

}



body {
background-color: black;

}

.popcorn {
display: block;
align-self: flex-end;

}

