body{
    background-color: #FECDDF;
    background-image: url("../Image/Frame\ 7.png");
    background-size:105%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    /* background-position:0% 50%; */
    }

main{
    height: 90vh;
}
footer{
position:relative;
bottom:0px;
width: 100%;
}
.cadi1 {
    position: absolute;
    top: 390px;
    left: 232px;
    opacity:0;
}
.cadi2 {
    position: absolute;
    top: 390px;
    left: 350px;
    opacity:0;
}
.cadi3 {
    position: absolute;
    top: 568px;
    left: 130px;
    opacity:0;
}
.cadi4 {
    position: absolute;
    top: 395px;
    left: 498px;
    opacity:0;
}
.cadi5 {
    position: absolute;
    top: 577px;
    left: 333px;
    opacity:0;
}
.cadi6 {
    position: absolute;
    top: 398px;
    left: 644px;
    opacity:0;
}
.cadi7 {
    position: absolute;
    top: 580px;
    left: 510px;
    opacity:0;
}
.cadi8 {
    position: absolute;
    top: 581px;
    left: 704px;
    opacity:0;
}
.cadi9 {
    position: absolute;
    top: 392px;
    left: 1011px;
    opacity:0;
}
.cadi10 {
    position: absolute;
    top: 388px;
    left: 1117px;
    opacity:0;
}
.cadi11 {
    position: absolute;
    top: 581px;
    left: 891px;
    opacity:0;
}
.cadi12 {
    position: absolute;
    top: 594px;
    left: 1097px;
    opacity:0;
}
.plus, .moins, .nombre {
    font-weight:bold !important;
    font-size: 20px !important;

}

header a {
    color: rgb(151, 0, 136);
}

h4{
    font-size: inherit !important;
}

.btnAjoutPanier{
    background-color: rgb(151, 0, 136) !important;
    color: white !important;
}
/* curseur */

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; }

/* fin curseur css */