body{
    background-color: #FECDDF;
    background-image: url("../Image/Frame\ 7.png");
    background-size:105%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    /* background-position:0% 50%; */
    }

main{
    height: 90vh;
}
footer{
position:relative;
bottom:0px;
width: 100%;
}

/* Media pour Charly */
/* crane felin */
.cadi1 { 
    position: absolute;
    top: 466px;
    left: 272px;
    opacity:0;
}
/* migalle goliath */
.cadi2 {
    position: absolute;
    top: 462px;
    left: 416px;
    opacity:0;
}
/* papillon  */
.cadi3 {
    position: absolute;
    top: 677px;
    left: 150px;
    opacity:0;
}
/* lapinou  */
.cadi4 {
    position: absolute;
    top: 468px;
    left: 594px;
    opacity:0;
}

/* Sceptre Barbare */
.cadi5 {
    position: absolute;
    top: 686px;
    left: 396px;
    opacity:0;
}
/* squelette de dodo */
.cadi6 {
    position: absolute;
    top: 474px;
    left: 769px;
    opacity:0;
}

/* crane de jacquouille */
.cadi7 {
    position: absolute;
    top: 692px;
    left: 608px;
    opacity:0;
}
/* Scorpion */
.cadi8 {
    position: absolute;
    top: 697px;
    left: 842px;
    opacity:0;
}
/* abeille royale */
.cadi9 {
    position: absolute;
    top: 467px;
    left: 1213px;
    opacity:0;
}
/* champignon */
.cadi10 {
    position: absolute;
    top: 462px;
    left: 1339px;
    opacity:0;
}
/* ecureuil */
.cadi11 {
    position: absolute;
    top: 693px;
    left: 1064px;
    opacity:0;
}
/* taxidermie */
.cadi12 {
    position: absolute;
    top: 707px;
    left: 1313px;
    opacity:0;
}
.plus, .moins, .nombre {
    font-weight:bold !important;
    font-size: 20px !important;

}

header a {
    color: rgb(151, 0, 136);
}

h4{
    font-size: inherit !important;
}

.btnAjoutPanier{
    background-color: rgb(151, 0, 136) !important;
    color: white !important;
}
/* curseur */

/* Media pour JULIE */
@media only screen and (max-width: 1300px) {
    .cadi1 {
    position: absolute;
    top: 335px;
    left: 320px;
    opacity:0;
}
.cadi2 {
    position: absolute;
    top: 451px;
    left: 257px;
    opacity:0;
}
.cadi3 {
    position: absolute;
    top: 647px;
    left: 229px;
    opacity:0;
}
.cadi4 {
    position: absolute;
    top: 341px;
    left: 618px;
    opacity:0;
}
.cadi5 {
    position: absolute;
    top: 647px;
    left: 347px;
    opacity:0;
}
.cadi6 {
    position: absolute;
    top: 441px;
    left: 715px;
    opacity:0;
}
.cadi7 {
    position: absolute;
    top: 640px;
    left: 608px;
    opacity:0;
}
.cadi8 {
    position: absolute;
    top: 641px;
    left: 702px;
    opacity:0;
}
.cadi9 {
    position: absolute;
    top: 335px;
    left: 992px;
    opacity:0;
}
.cadi10 {
    position: absolute;
    top: 439px;
    left: 1081px;
    opacity:0;
}
.cadi11 {
    position: absolute;
    top: 637px;
    left: 963px;
    opacity:0;
}
.cadi12 {
    position: absolute;
    top: 630px;
    left: 1112px;
    opacity:0;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; }

/* fin curseur css */