body {
    background-image: url(../Image/Background\ dark\ 2.jpg
    );
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  .image {
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: row;
    /* margin-left: 200px; */
    
  }
  
  p {
    color: rgb(244, 244, 247);
    text-align: left;
    

  }
  .paragraphe2 {
    color: white;
    text-align: left;
  }
  
  .paragraphebloc {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    margin-top: 30px;
  
  }
    
    .titre {
      text-align: center; 
      font-size: 30px; color: white;
      margin-top: 1%;
      margin-bottom:0% ;
      
      
    
  }
  
  .bg_synopsis
  {background-color: rgba(0, 0, 0, 0.704);
  margin-left: 30px;
  }
  
  .ba
  {display: block;
  text-align: center;
  color: rgb(253, 253, 252);
  
  border-radius: 20px;
  width: 95%;
  height: 40px ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px ;
  background-color: #970088;
  font-size: 18px;
  }
  
  .note
  {display: flex;
  align-items: flex-end;
  color: azure;}
  
/* curseur */

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; }

/* fin curseur css */
  
  
  