body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height:  133px;
    max-width: 1519.2px;
    
}


footer {
    background-color: #970088;
    display: block;
    font-size: smaller;
    overflow-x: hidden;
    min-height: 20vh;
    
    
}

.logofooter {
    display: flex;
    height: 100px;
    width: 130px;
    margin-top: 7px;
    
   
    
    

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



div {
    text-align: center;
    line-height: 1em;

}

.reso a img {
    width: 30px;


}

.reso {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 15px;
    

}

.button {
    border-radius: 20px;
    flex-grow: 1;
    height: 25px;
    width: 100%;
    text-align: center;
   

}

#adresse,
#Contact {
    margin-bottom: 0;
}

.emailbutton {
    border-radius: 20px;
    height: 25px;
    width: 90%;
    margin-top: 45px;
    text-align: center;
    margin-top: 45px;
    
    
   
}

.buttonrejoindre {
    border-radius: 20px;
    height: 28px;
    width: 100px;
    background-color: rgb(247, 245, 245);
    margin-top: 12px;
    /* margin-left: 150px; */
    color: rgb(0, 0, 0);
    font-size: smaller;


    
}

.contact {
    max-width: 20%;
    margin-top: 10px;
    text-align: left;
    color: white;
    padding-left: 50px;
    

}

.adress {
    max-width: 30%;
    margin-top: 10px;
    text-align: left;
    color: white;
   }

.newsletter {
    margin-top: 20px;
    margin-right: 35px ;
    margin-left: 20px;
    color: white;  
}

form
 {
       width: 30%;
        text-align: center;
    
 }
 .cont {
text-align: center;
 margin-top: 45px;
 }