body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

}


footer {
background-color: rgb(151, 0, 136);
padding: 5px;
display: block;
color: white;
font-size: smaller;

}

nav {
display: flex;
flex-direction: row;
justify-content: space-around;
}




div {
text-align: center;
line-height: 1em;

}

.reso a img {
width: 30px;


}

.reso {
display: flex;
justify-content: left;
align-items: center;
gap: 10px;

}

button {
border-radius: 10px;
    
}

