body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height:  133px;
    max-width: 1519.2px;
}


footer {
    background-color: rgb(204, 202, 202);
    display: block;
    font-size: smaller;
    overflow-x: hidden;
    
}

.logofooter {
display: flex;
    height: 100px;
    width: 130px;
    margin-top: 7px;
   
    
    

}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



div {
    text-align: center;
    line-height: 1em;

}

.reso a img {
    width: 30px;


}

.reso {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 15px;
    

}

button {
    border-radius: 10px;
    flex-grow: 1;

}

#adresse,
#Contact {
    margin-bottom: 0;
}

.emailbutton {
    border-radius: 20px;
    height: 25px;
    width: 380px;
    margin-top: 45px;
    text-align: center;
    
   

}

.buttonrejoindre {
    border-radius: 20px;
    height: 28px;
    width: 100px;
    background-color: rgb(5, 5, 5);
    margin-top: 12px;
    margin-left: 150px;
    color: aliceblue;
    font-size: smaller;

    
}

.contact {
    max-width: 20%;
    margin-top: 10px;
    text-align: left;
    

}

.adress {
    max-width: 20%;
    margin-top: 10px;
    text-align: left;
   
}

.newsletter {
    margin-top: 20px;
    margin-right: 35px ;
    margin-left: 20px;
    
    

}