.logo {
    width: 150px;
    height: 150px;
    color:white;
    
}

header div a button  {
    border-radius: 10px;
    background-color:transparent ;
    border:0px;
  

  }  





.panier, .fantome {
    width: 50px;
    height: 50px;
   
    
}
.panierfant{
    border: 3px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 20px;
    height:60px;
    
}
  
.entete{
    display: flex;

}
h1{
    font-family:'Metal Mania';
    color: white;
    font-size: 60px !important;
}

.navigation nav a button {
    background-color:rgb(151, 0, 136) ;
    border:0px ;
    color: white;
    border-right: 1px solid black;
    border-radius: 0px;
    margin-left:10px;
    margin-right:10px;
    font-family: 'Roboto';
    padding-right:40px;

    

}
input.recherche{
    background-color:rgb(151, 0, 136) ;
    display: flex;
    font-family: 'Roboto';
    border-radius: 50px;
    color: white;
    
}
.loupe{
    position:relative;
    top: 3px;
    right: 25px;
    

}

.navigation{
    background-color: rgb(151, 0, 136);
    border-radius: 20px;
    border:0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    height:30px;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
   
    
    

   
    
}

header {
    color: antiquewhite;
    display: flex;
    justify-content:space-between;
    align-items: center;

    
}

a {
   
    text-decoration: none !important;

}