body {
    background-color: #000000;
    background-image: url(../Image/Background\ Histoire.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: center cover;
    min-height: 100vh;
  }
  
  header {
    display: flex;
  }
  
  
  
  .allpics {
    display: flex;
    flex-direction: row;
    max-height: 250px;
    max-width: 250px;
    border: 5px solid #6c0000;
    border-radius: 50%;
    margin: auto;
    width: 90%;
  }
  
  .display {
    background: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .conteneur {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .fhorreur {
    flex-grow: 1;
    color: white;
    width: 18%;
    background-color: rgba(128, 128, 128, 0);
    align-items: center;
    margin: 25px;
    margin-top: 100px;
  }
  
  .effets {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 100px;
    padding: 100px left;
    padding-right: 25px;
  }
  
  .alfred {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 100px;
  }
  
  .exorciste {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 100px;
  }
  
  .stephk {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 100px;
  }
  
  .titre {
    text-align: center;
  }
  h2 {
    font-family: "Kranky", cursive;
  }
  