body {
    background-color: #F06DAC;
    background-image: url(../Image/Fondrosee.jpg);
    background-size:100%;
    overflow-x: hidden;
  }
  
  header {
    display: flex;
  }
  
  
  
  .allpics {
    display: flex;
    flex-direction: row;
    max-height: 180px;
    max-width: 180px;
    border: 5px solid #B665BD;
    border-radius: 50%;
    margin: auto;
    width: 90%;
    margin-top: 5% ;
  }
  
  .display {
    background: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .conteneur {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .fhorreur {
    flex-grow: 1;
    color: white;
    width: 18%;
    background-color: rgba(128, 128, 128, 0);
    align-items: center;
    margin: 25px;
    margin-top: 60px;
    
  }
  
  .effets {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 15px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 60px;
    padding: 100px left;
    padding-right: 25px;
  }
  
  .alfred {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 60px;
  }
  
  .exorciste {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 60px;
  }
  
  .stephk {
    flex-grow: 1;
    color: white;
    width: 18%;
    align-items: center;
    margin: 25px;
    background-color: rgba(128, 128, 128, 0);
    margin-top: 60px;
  }
  
  .titre {
    text-align: center;
  }
  h2 {
    font-family: 'Kranky', cursive;
    margin-top: 0;
        height: 50px
      }
  
      .text {
        text-align: left;
         
      }