body {
background-color: black;

}

main {
color: antiquewhite;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 10px;
align-items: center;

}

[type*="text"], [type*="email"], [type*="password"]{
width: 216px;

}