main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  background-color: rgb(240, 109, 172);

  color: white
}
h2{

  
}
.panier
{
color:white;
width: auto;
}

.produit{
  border-bottom: 1px solid black;
  /* background-color: red; */
  
}

.caddie {
  margin-bottom: 50px;
}

.valide {
  height: 75px;
  width: 300px;
  align-self: flex-end;
}

.chemin {
  text-align: left;
  margin-left: 85px;
  margin-top: 5px;
}

.chemin a {
  color:white;
  text-decoration: none;
  font-size: smaller;
}

.infos {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  align-items: center;
  
  
}

.infos input[type*="text"]{
  padding-top:10px ;
  padding-bottom:10px ;
  margin-bottom: 10px;
  border-radius: 10px;
width: 70%;
}

.infotitre {
   width: auto;
}

.moyenpaiement  {
text-align: left;
color: rgb(226, 226, 228);
  
}

.mid {
  display: flex;
  flex-direction: column;
}

.chemin a {
  color:white;
  text-decoration: none;
}

  fieldset {

  display: flex;
  flex-direction: column;
  height: 100px; 
  width: 150px;
  align-items: center;
  float: right;

  }

  .caddie 
  { 
    border-radius: 10px;
  }

  .valide 
  {font-size: larger;}

 
