main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

body {
  background-color: black;
  color: rgb(4, 4, 4);
}
h2{
  line-height:45px;
  font-family:"metal mania";
  color:white;
  }

.panier
{
color: rgb(218, 217, 217);
width: auto;
}

.caddie {
  margin-bottom: 50px;
}

.valide {
  height: 75px;
  width: 300px;
  align-self: flex-end;
  border-radius:10px;
  margin-top:15px;
}



.infos {
  display: flex;
  flex-direction: column;
  margin-top: 1px;
  align-items: center;
  
  
}

.infos input[type*="text"]{
  padding-top:10px ;
  padding-bottom:10px ;
  margin-bottom: 10px;
  border-radius: 10px;
width: 70%;
}

.infotitre {
   width: auto;
}

.moyenpaiement  {
text-align: left;
color: rgb(226, 226, 228);
  
}

.mid {
  display: flex;
  flex-direction: column;
}


  fieldset {

  display: flex;
  flex-direction: column;
  height: 100px; 
  width: 150px;
  align-items: center;
  float: right;

  }

  .caddie 
  { 
    border-radius: 10px;
  }

  .valide 
  {font-size: larger;}

 
  .chemin a {
    text-align: left;
    color: white;
    font-size: smaller;
    text-decoration: none;
    
  }
  .chemin {
    
    margin-left: 80px;
    margin-top: 5px;
    text-align: left;
  }
  p{
    font-size:15px;
    font-family: 'IM Fell English SC', serif;
    color:white;
  
  }
  .produit button{
    border-radius:6px;
    background-color: rgb(178, 174, 174);
    margin-bottom:6px;
  }
    .valide 
  {font-size: larger;}
  
.produit{
  border-bottom: 1px solid black;
  display:none;
  
}
