

body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
    color: white;
}

main{
    height: 100vh;
    margin-bottom: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





.quiz-hearder {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

main button {
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px ;
    width: 20%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
}

main button:hover {
    background-color: #04adc4;
}

main button:focus {
    outline: none;
    background-color: #44b927;
}

.wright{
    color: green;
}
.wrong{
    color: red;
}

.chemin a {
    text-align: left;
    color: white;
    font-size: smaller;
    text-decoration: none;
    
  }
  .chemin {
    
    margin-left: 80px;
    margin-top: 5px;
    text-align: left;
  }